<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>It looks like that you requested to change your password.</p>
  <p>If it was you, click on the link below to change it:</p>
  <p>
    <a href="{{link}}">Resetar minha senha</a>
  </p>
  <p>If it wasn't you, be careful.</p>
  <p>
    Thank you <br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
